# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.*
!.env.example

# Build
client/dist/
server/dist/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/